In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\aryan kamboj\onedrive\documents\mca202\software enginnering project\project_folder\thaparenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aryan kamboj\onedrive\documents\mca202\software enginnering project\project_folder\thaparenv\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aryan kamboj\onedrive\documents\mca202\software enginnering project\project_folder\thaparenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aryan kamboj\onedrive\documents\mca202\software enginnering project\project_folder\thaparenv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aryan kamboj\onedrive\documents\mca202\software enginnering project\project_folder\thaparenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\aryan kamboj\onedrive\documents\mca202\software enginnering project\project_folder\thaparenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\aryan kamboj\onedrive\documents\mca202\software enginnering project\project_folder\thaparenv\lib\site-packages (2.2.4)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

df = pd.read_excel("Raw_Data/Hostel_Info.xlsx")

In [9]:
df.columns

Index(['Hostel Name', 'Hostel Previous Name', 'Type of Hostel', 'Mess Fees',
       'Capacity of Hostel', 'Warden Name', 'Assistant Warden',
       'Contact of Warden', 'Email of Warden', 'Day Caretaker',
       'Day Caretaker Number', 'Night Caretaker Name',
       'Night Caretaker Number', 'Email ID Caretaker',
       'Reception Contact Number', 'AC Room Availability', '4 sharing ',
       '3 Sharing', '2 share Rooms', 'Single Rooms Availability', 'Wi-Fi',
       'Lift', 'Number of Floors(including ground floor)', 'Laundry Service',
       'Late Night Mess', 'Late Entry Timings'],
      dtype='object')

In [15]:
with open("Structured_Data/Hostel_info.txt", "w", encoding="utf-8") as f:
    for _, row in df.iterrows():
        f.write(f"### {row['Hostel Name']} (Previously: {row['Hostel Previous Name']})\n")
        f.write(f"- Type: {row['Type of Hostel']}\n")
        f.write(f"- Capacity: {row['Capacity of Hostel']}\n")
        f.write(f"- AC Room Availability: {row['AC Room Availability']}\n")
        f.write(f"- Mess Fees: {row['Mess Fees']}\n")
        f.write(f"- Warden: {row['Warden Name']} (Contact: {row['Contact of Warden']}, Email: {row['Email of Warden']})\n")
        f.write(f"- Assistant Warden: {row['Assistant Warden']}\n")
        f.write(f"- Day Caretaker: {row['Day Caretaker']} (Phone: {row['Day Caretaker Number']})\n")
        f.write(f"- Night Caretaker: {row['Night Caretaker Name']} (Phone: {row['Night Caretaker Number']})\n")
        f.write(f"- Email ID Caretaker: {row['Email ID Caretaker']}\n")
        f.write(f"- Reception Contact Number: {row['Reception Contact Number']}\n")
        f.write(f"- Room Sharing:\n")
        f.write(f"  - 4 Sharing: {row['4 sharing ']}\n")
        f.write(f"  - 3 Sharing: {row['3 Sharing']}\n")
        f.write(f"  - 2 Sharing: {row['2 share Rooms']}\n")
        f.write(f"  - Single Room Availability: {row['Single Rooms Availability']}\n")
        f.write(f"- Wi-Fi: {row['Wi-Fi']}\n")
        f.write(f"- Lift: {row['Lift']}\n")
        f.write(f"- Number of Floors (including ground floor): {row['Number of Floors(including ground floor)']}\n")
        f.write(f"- Laundry Service: {row['Laundry Service']}\n")
        f.write(f"- Late Night Mess: {row['Late Night Mess']}\n")
        f.write(f"- Late Entry Timings: {row['Late Entry Timings']}\n")
        f.write("\n\n")

In [16]:
ddf = pd.read_csv("Raw_Data/HostelFees.csv")

In [18]:
columns_to_include = [
    '1Sharing-Non-AC', '1Sharing-AC',
    '2Sharing-Non-AC', '2Sharing-AC',
    '3Sharing-Non-AC', '3Sharing-AC',
    '4Sharing-Non-AC', '4Sharing-AC'
]
with open("Structured_Data/Hostel_fees.txt", "w", encoding="utf-8") as f:
 
    for _, row in ddf.iterrows():
        f.write(f"### {row['Hostel Names']}\n")
        f.write("- Room Types and Washroom Details:\n")
        f.write(f"  - 1 Sharing:\n")
        f.write(f"    - Non-AC: {row['1Sharing-Non-AC']}\n")
        f.write(f"    - AC: {row['1Sharing-AC']}\n")
        f.write(f"  - 2 Sharing:\n")
        f.write(f"    - Non-AC: {row['2Sharing-Non-AC']}\n")
        f.write(f"    - AC: {row['2Sharing-AC']}\n")
        f.write(f"  - 3 Sharing:\n")
        f.write(f"    - Non-AC: {row['3Sharing-Non-AC']}\n")
        f.write(f"    - AC: {row['3Sharing-AC']}\n")
        f.write(f"  - 4 Sharing:\n")
        f.write(f"    - Non-AC: {row['4Sharing-Non-AC']}\n")
        f.write(f"    - AC: {row['4Sharing-AC']}\n")
        f.write("\n")

In [19]:
clubs = pd.read_excel("Raw_Data/clubs_thapar.xlsx")

In [20]:
clubs.head()

,S.No.,Club Name,Objective,Faculty Advisor(s),Contact Email
0,1,Adventure Club,"A forum for adventure enthusiasts, trekkers, c...","Dr. Gagandeep Kaur, Dr. Anil Arora",adventureclub@thapar.edu
1,2,Dance Club ‘NOX’,Provides a platform for students to enhance th...,"Dr. Meenu Rani, Dr. Sangita Roy",nox@thapar.edu
2,3,Developer Student Club,"Offers hands-on workshops, in-person training,...","Dr. Anil Singh, Dr. Ashima Singh",google.dsctiet@thapar.edu
3,4,Echoes Club,"Publishes periodicals covering cultural, techn...","Dr. Jaskaran Singh, Dr. Sonam Dullat",echoes@thapar.edu
4,5,Economics Club (ECON CLUB),"Identifies and discusses economic, social, and...","Dr. Shilpi Tyagi, Dr. S.C. Bose",econclub@thapar.edu

In [23]:
with open("Structured_Data/clubs_thapar.txt","w") as f:
    for _,row in clubs.iterrows():
        f.write(f'###{row['Club Name']}\n')
        f.write(f"- Objective:{row['Objective']}\n")
        f.write(f"- Faculty Advisors:{row['Faculty Advisor(s)']}\n")
        f.write(f"- Contact Email:{row['Contact Email']}\n")
        f.write("\n\n")

In [24]:
PG_Course_Fee= pd.read_excel("Raw_Data/PG_Courses_Fees.xlsx")

In [37]:
PG_Course_Fee.head()

,Programme,No. of Semesters (Normal Duration),Total Programme Fee in Rs.,Amount to be paid each semester in Rs. (Equal Installment),Tuition Fee in each semester,Development Fee in each semester,Other Charges in each semester
0,MCA,4,410800.0,102700.0,63700.0,28000.0,11000.0
1,MSc,4,202400.0,50600.0,31600.0,8000.0,11000.0
2,"ME/MTech - CSED, ECED, MED, EIED",4,398800.0,99700.0,70700.0,18000.0,11000.0
3,ME/MTech - Others,4,358000.0,89500.0,60500.0,18000.0,11000.0
4,MA (2 Years),4,202400.0,50600.0,31600.0,8000.0,11000.0

In [34]:
with open("Structured_Data/PG_Course_Fee.txt","w") as f:
    for _,row in PG_Course_Fee.iterrows():
        f.write(f"### {row['Programme']}\n")
        f.write(f"-Number of Semester: {row['No. of Semesters (Normal Duration)']}\n")
        f.write(f"-Total Fees: {row['Total Programme Fee in Rs.']}\n")
        f.write(f"-Amount to be paid each semester in Rs. (Equal Installment): {row['Amount to be paid each semester in Rs. (Equal Installment)']}\n")
        f.write(f"-Tuition Fee in each semester: {row['Tuition Fee in each semester']}\n")
        f.write(f"-Development Fee in each semester: {row['Development Fee in each semester']}\n")
        f.write(f"-Other Charges in each semester: {row[' Other Charges in each semester ']}\n")
        f.write("\n\n")

In [39]:
scholarship = pd.read_excel("Raw_Data/scholarships.xlsx")

In [41]:
scholarship

,Program,Scholarship Type,Eligibility,Amount,Continuation Criteria,Special Notes
0,ME/MTech,AICTE Scholarship,GATE required,Based on AICTE approval,NaN,Only for AICTE-approved seats
1,ME/MTech,TIET (with AICTE),"GATE required, AICTE-funded",₹5000/month,NaN,Additional to AICTE
2,ME/MTech,TIET (without AICTE),"GATE required, no AICTE funds","₹12,400/month",NaN,NaN
3,ME/MTech,Non-GATE Scholarship,70% marks (65% SC/ST),"₹10,000/month (for 10 months)","CGPA ≥ 8.00, No backlog",NaN
4,MSc,Merit Scholarship (Full),"AGPA ≥ 8.00, No backlog",Full tuition fee waiver,Maintain AGPA ≥ 8.00,Min 5 students per discipline
5,MSc,Merit Scholarship (Half),"AGPA ≥ 8.00, No backlog",50% tuition fee waiver,Maintain AGPA ≥ 8.00,NaN
6,MSc,Merit Scholarship (Quarter),"AGPA ≥ 8.00, No backlog",25% tuition fee waiver,Maintain AGPA ≥ 8.00,NaN
7,MCA,Merit Scholarship,"AGPA ≥ 8.00, No backlog","₹40,000 per year",Maintain AGPA ≥ 8.00,10% of admitted students

In [48]:
with open("Structured_Data/scholarships.txt","w",encoding='utf-8') as f:
    for _ , row in scholarship.iterrows():
        f.write(f"### {row['Program']}\n")
        f.write(f"-Scholarship Type: {row['Scholarship Type']}\n")
        f.write(f"-Eligibility: {row['Eligibility']}\n")
        f.write(f"-Amount of Scholarship: {row['Amount']}\n")
        f.write(f"-Continuation Criteria: {row['Continuation Criteria']}\n")
        f.write(f"-Special Notes: {row['Special Notes']}\n")
        f.write("\n\n")

In [49]:
socities = pd.read_excel("Raw_Data/Societies_Thapar.xlsx")

In [53]:
with open("Structured_Data/Thapar_Societies.txt","w") as f:
    for _,row in socities.iterrows():
        f.write(f"###{row['Society Name']}\n")
        f.write(f"-Objective:{row['Objective']}\n")
        f.write(f"-Faculty Advisors:{row['Faculty Advisor(s)']}\n")
        f.write(f"-Contact Email:{row['Contact Email']}\n")
        f.write("\n\n")

In [56]:
Events = pd.read_excel("Raw_Data/TIET_Cultural_Events.xlsx")

In [57]:
Events

                                      Cultural Event      Month
0         URJA - The inter institute sports festival   February
1          Izhaar - The inter year cultural festival   February
2                               Annual Athletic Meet      March
3                                         Frosh Week     August
4                               Thapar Food Festival  September
5                                          MUDRA Eve    October
6          ELIXIR - The inter year Literary Festival    October
7  SATURNALIA - The inter institute techno-cultur...   November

In [60]:
with open("Structured_Data/TIET_Events.txt","w") as f:
    for _,row in Events.iterrows():
        f.write(f"### {row['Cultural Event']}\n")
        f.write(f"Month it took place - {row['Month']}\n")